<div id="answer-{{ answer.id }}">
    {{ answer.body }}
    <div id="answer-{{ answer.id }}-votes">
        Rating:
        <b>
            <div class="rating">
                0
            </div>
        </b>
    </div>
</div>